<Container>
  <div class="header">
    <div>
      <h1>Justin lowe</h1>
      <h3>Full Stack Developer</h3>
    </div>
    <div class="links">
      <a href="https://github.com/jlowe1210?tab=repositories" target="_blank"
        >github</a
      >
      <a href="../assets/resume1.pdf" target="_blank">Resume</a>
    </div>
    <p class="description">
      Hi! My name is Justin and I'm Full stack developer located in United
      States. I enjoy learning about new and exciting tools and technologies
      that can help increase my development workflow and productivity. I am
      proficient in both React, and Angular as well have Node js. As Such all of
      my projects has React and Angular version If you’ll like to know more
      please get in contact with the information provided, and check out my
      projects on github.
    </p>
  </div>
  <div class="projects_container">
    <div class="project_container" *ngFor="let project of projects">
      <h2 class="project_title">{{ project.name }}</h2>
      <img [src]="project.imgSrc" width="500" />
      <p class="project_description">
        {{ project.description }}
      </p>
      <div>
        <h3>Github Links</h3>
        <div class="github_links">
          <a [href]="project.githubLink[0]" target="_blank">
            <p class="github_link_container">
              (Angular) <img src="../assets/githubangular.png" />
            </p>
          </a>

          <a [href]="project.githubLink[1]" target="_blank">
            <p class="github_link_container">
              (React) <img src="../assets/githubreact.png" />
            </p>
          </a>
        </div>
        <h3>Website Links</h3>
        <div class="website_links">
          <a [href]="project.links[0]" target="_blank">
            <p class="github_link_container">
              (Angular) <img src="../assets/linkangular.png" />
            </p>
          </a>
          <a [href]="project.links[1]" target="_blank">
            <p class="github_link_container">
              (React) <img src="../assets/linkreact.png" />
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</Container>
